{% extends 'index.html' %}
{% block conteudo %}

  <div class="container">
      <p class="titulo-home"><b>Bem vindo à área do professor!</b></p>
      <p class="titulo-home">Seus cursos mais recentes</p>
      
      <div class="caixa-borda-cinza d-flex">
          <div class="row w-100 p-3">
              <div class="card col m-2" style="width: 18rem;">
                  <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Curso exemplo">
                  <div class="card-body">
                      <p class="card-text">Curso de exemplo para demonstração da interface do professor.</p>
                  </div>
              </div>
          </div>
      </div>
      
      <p class="titulo-home mt-5">Suas Estatísticas</p>
      <div class="caixa-borda-cinza p-3">      
          <div class="row" style="gap: 80px; padding: 20px;">
              <div class="col d-flex justify-content-center">
                  <div class="estatistica-professor text-center align-self-center">
                      <p class="estatistica-numero">10</p>
                      <p class="estatistica-descricao">Cursos Criados</p>
                  </div>
              </div>
              <div class="col d-flex justify-content-center">
                  <div class="estatistica-professor text-center align-self-center">
                      <p class="estatistica-numero">247</p>
                      <p class="estatistica-descricao">Alunos Ativos</p>
                  </div>
              </div>
              <div class="col d-flex justify-content-center">
                  <div class="estatistica-professor text-center align-self-center">
                      <p class="estatistica-numero">4.8</p>
                      <p class="estatistica-descricao">Avaliação Média</p>
                  </div>
              </div>
          </div>
      </div>
      
      <p class="titulo-home mt-5">Ações Rápidas</p>
      <div class="justify-content-center align-items-center">
          <div class="row">
              <div class="col d-flex justify-content-center p-4">
                  <button class="btn botao-acao-rapida">Criar Novo Curso</button>
              </div>
              <div class="col d-flex justify-content-center p-4">
                  <button class="btn botao-acao-rapida">Gerenciar Cursos</button>
              </div>
              <div class="col d-flex justify-content-center p-4">
                  <button class="btn botao-acao-rapida">Ver Estatísticas Detalhadas</button>
              </div>
          </div>
      </div>
  </div>
</article>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasProfessor" aria-labelledby="offcanvasProfessorLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasProfessorLabel">Menu Professor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Conteúdo do menu lateral aqui.</p>
    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</article>
{% endblock %}