{% extends "index.html" %}
{%block conteudo%}
<article>
    <div class="container-editar-perfil">
        <div class="editar-perfil">
            <div class="container-editar-imagem">
            </div>
            <div class="container-editar-dados">
                <p class="titulo-editar-perfil">
                    Editar Perfil
                </p>
                <form action="/cliente/editar-perfil" method="post">
                    <label for="nome">Nome</label>
                    <input class="input-editar-perfil" type="text" id="nome" name="nome" value="{{ usuario.nome }}" placeholder="Nome" require>
                    <label for="email">Email</label>
                    <input class="input-editar-perfil" type="email" id="email" name="email" value="{{ usuario.email }}" placeholder="Email" required>
                    <label for="telefone">Telefone</label>
                    <input class="input-editar-perfil" type="tel" id="telefone" name="telefone" value="{{ usuario.telefone }}" placeholder="Telefone" required>
                    <label for="data_nascimento">Data de Nascimento</label>
                    <input class="input-editar-perfil" type="date" id="data_nascimento" name="data_nascimento" value="{{ usuario.dataNascimento }}" required>
                    <button class="botao-login botao-salvar" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</article>  
{%endblock%}