{%extends "index_publico.html" %}
{% block conteudo %}

<article>
    <div class="login-container">
        <div class="login-esquerda">
            <div class="imagem-login">
                <img src="/static/img/telas_de_fundo/snake_login_sem_fundo.svg" alt=""
                    style="width: 4500px; height: auto; max-width: 100%;">
            </div>
        </div>
        <div class="login-direita">
            <div style="width: 100%; max-width: 400px;">
                <h3 class="mb-4 text-start">Cadastre-se</h3>

                {% if erros and "GERAL" in erros %}
                    <div class="alert alert-danger" role="alert">
                        {{ erros['GERAL'] }}
                    </div>
                    {% endif %}

                <form action="/cadastro" method="post">
                    <div class="mb-3">
                        <input type="email" class="form-control {% if erros and 'EMAIL' in erros.keys() %}is-invalid{% endif %}" name="email" id="email" placeholder="Email" value="{{ dados['email'] if dados and 'email' in dados.keys() }}" required>
                        {% if erros and "EMAIL" in erros.keys() %}
                        <div class="invalid-feedback">
                            {{ erros['EMAIL'] }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <input type="text"
                            class="form-control {% if erros and 'NOME' in erros.keys() %}is-invalid{% endif %}" id="nome"
                            name="nome" value="{{ dados.nome if dados else '' }}" required>

                        {% if erros and "NOME" in erros.keys() %}
                        <div class="invalid-feedback">
                            {{ erros['NOME'] }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <input type="tel" class="form-control {% if erros and 'TELEFONE' in erros.keys() %}is-invalid{% endif %}" name="telefone" id="telefone" placeholder="Telefone" value="{{ dados['telefone'] if dados and 'telefone' in dados.keys() }}"
                                        pattern="\(\d{2}\) \d{4,5}-\d{4}"
                                        title="Formato: (00) 0000-0000 ou (00) 00000-0000" required>

                        {% if erros and "TELEFONE" in erros.keys() %}
                        <div class="invalid-feedback">
                            {{ erros['TELEFONE'] }}
                        </div>
                        {% endif %}

                    </div>
                    <div class="mb-3">
                        <input type="date" class="form-control {% if erros and 'DATA_NASCIMENTO' in erros.keys() %}is-invalid{% endif %}" name="data_nascimento" id="data_nascimento"
                            placeholder="Data de Nascimento" value="{{ dados['data_nascimento'] if dados and 'data_nascimento' in dados.keys() }}" required>
                    </div>
                    <div class="mb-3">
                        <input type="hidden" class="form-control" name="perfil" id="perfil" value="cliente">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control {% if erros and 'SENHA' in erros.keys() %}is-invalid{% endif %}" name="senha" id="senha" placeholder="Senha" minlength="6" required>

                        {% if erros and "SENHA" in erros.keys() %}
                        <div class="invalid-feedback">
                            {{ erros['SENHA'] }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control {% if erros and 'CONFIRMAR_SENHA' in erros.keys() %}is-invalid{% endif %}" name="confirmar_senha" id="confirmar_senha"
                            placeholder="Confirme sua senha" minlength="6" required>

                        {% if erros and "CONFIRMAR_SENHA" in erros.keys() %}
                        <div class="invalid-feedback">
                            {{ erros['CONFIRMAR_SENHA'] }}
                        </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn botao-roxo-lc w-100">Cadastrar-se</button>
                    {% if mensagem %}
                    <div class="alert alert-danger mt-3">{{ mensagem }}</div>
                    {% endif %}
                </form>

                <div class="text-center mt-4">
                    <p>Ou cadastre-se com:</p>
                    <div class="social-icons d-flex justify-content-center gap-3">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" width="32">
                        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="Google" width="32">
                        <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="Microsoft" width="32">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</article>

{%endblock%}