{%extends "index.html" %}
{% block conteudo %}

<article>
    <div class="login-container">
        <div class="login-esquerda"></div>
        <div class="login-direita">
            <div style="width: 100%; max-width: 400px;">
                <h3 class="mb-4 text-start">Cadastre-se</h3>
                <form action="/cadastro" method="post">
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome completo">
                    </div>
                    <div class="mb-3">
                        <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="Telefone">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control" name="confirmar_senha" id="confirmar_senha" placeholder="Confirme sua senha">
                        {% if mensagem %}
                        <div>
                            <div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasLabel">Erro ao realizar cadastro</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    {{ mensagem }}
                                </div>        
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn botao-roxo-lc w-100">Cadastrar-se</button>
                </form>

                    <div class="text-center mt-4">
                        <p>Ou cadastre-se com:</p>
                        <div class="social-icons d-flex justify-content-center gap-3">
                            <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" width="32">
                            <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="Google" width="32">
                            <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="Microsoft" width="32">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

{%endblock%}
