{%extends "index.html" %}
{% block conteudo %}

<article>
    <div class="login-page">
        <div class="row justify-content-end align-items-center">
            <div class="col-md-6 d-flex justify-content-end order-1 order-md-2">
                <div style="width: 100%; max-width: 400px;">
                    <h3 class="mb-4 text-start">Cadastre-se</h3>

                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Nome completo">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="tel" class="form-control" placeholder="Telefone">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Senha">
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control" placeholder="Confirme sua senha">
                        </div>
                        <button type="submit" class="btn botao-roxo-lc w-100">Cadastrar-se</button>
                    </form>

                    <div class="text-center mt-4">
                        <p>Ou cadastre-se com:</p>
                        <div class="social-icons d-flex justify-content-center gap-3">
                            <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" width="32">
                            <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="Google" width="32">
                            <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="Microsoft" width="32">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

{%endblock%}
