{%extends "index_publico.html" %}
{% block conteudo %}
<article class="card-tela-toda">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/img/nossos_cursos/1.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel dolore amet nostrum odit magni dolorum aperiam delectus totam voluptas molestiae! Illo ipsam veniam nesciunt temporibus hic! Quia esse doloremque nesciunt et numquam possimus. Provident blanditiis facilis est, animi autem sequi unde! Dolorem incidunt, atque nesciunt adipisci iste dolore fugit unde, suscipit quibusdam rem assumenda, consequuntur ut molestiae excepturi tenetur fuga saepe quo est in facilis deserunt. Repellendus cupiditate ab nemo maxime, maiores beatae deserunt officia reprehenderit architecto corporis vitae? Dolores blanditiis magnam, dignissimos quisquam id accusantium itaque maxime omnis consectetur mollitia nihil possimus delectus quas voluptatem dicta officiis placeat incidunt.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}