{%extends "index_publico.html" %}
{% block conteudo %}
<article class="card-tela-toda">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/img/nossos_cursos/1.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Curso de Ciência de Dados</h5>
          <p class="card-text">
            Aprenda os principais fundamentos de Ciência de Dados e desenvolva as
            habilidades mais procuradas do mercado. Explore estatística, programação em
            Python, análise de grandes volumes de dados, machine learning e técnicas de
            visualização para transformar informações em insights estratégicos. Ideal
            para quem deseja iniciar na área ou se especializar em projetos de análise
            e inteligência artificial aplicada.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Última atualização há 3 minutos</small>
          </p>
          <p class="card-text">
            Instrutor: Marcos Andrade
          </p>
          <p class="card-text">
            ★★★★☆ 4,7 <small class="text-muted">(765 avaliações)</small>
          </p>
          <p class="carde-preco-favoritos">R$39.90</p>
          <p class="card-text">
            <small class="text-body-secondary">Última atualização há 3 minutos</small>
          </p>
        </div>
      </div>
    </div>
  </div>

</article>
{% endblock %}