{% extends "index.html" %}
{% block conteudo %}
<article>
    <div class="fundo-curso">
    </div>
    <div>
        <div class="detalhes-curso">
            <div class="titulo-curso">
                Titulo do curso
            </div>
            <div class="descricao-curso">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, blanditiis quis? Magnam numquam a necessitatibus eveniet dicta molestias porro quasi. Vel illo maxime doloribus quis iste? Omnis iure qui quasi. Odio assumenda blanditiis repellat. Repellat autem fugiat consequatur dicta dolor, ex explicabo cupiditate vero enim quos, corrupti delectus ipsam libero.
            </div>
        </div>
        <div class="carde-curso-detalhes">
            <div class="detalhes-imagem-curso-container">
                <img class="detalhes-imagem-curso" src="/static/img/Nossos Cursos/ciencia de dados/Arte C Dados 2.1.jpg" alt="quatro">
                <div class="linha-detalhes-imagem-curso-roxo1"></div>
                <div class="linha-detalhes-imagem-curso-verde1"></div>
                <div class="linha-detalhes-imagem-curso-roxo2"></div>
                <div class="linha-detalhes-imagem-curso-verde2"></div>
                <div class="linha-detalhes-imagem-curso-roxo3"></div>
            </div>
            <div class="detalhes-curso-carde">
                <div class="detalhes-curso-carde-titulo">
                    Título do curso
                </div>
                <div class="detalhes-curso-carde-preco">
                    R$600,00
                </div>
                <div class="detalhes-curso-carde-informacoes">
                    Duração: 40 horas
                </div>
                <div class="detalhes-curso-carde-informacoes">
                    Data de postagem: 01/01/2023
                </div>
                <div class="detalhes-curso-carde-informacoes">
                    Avaliação: 4.9/5.0
                </div>
            </div>
            <div class="container-compra container d-flex">
                <button class="botao-comprar">Comprar Agora</button>
                <button class="botao-carrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>
    <div class="carrosel-detalhes-curso">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/img/Nossos Cursos/ciencia de dados/Arte C Dados 2.1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/img/Nossos Cursos/ciencia de dados/Arte C Dados 2.2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/img/Nossos Cursos/ciencia de dados/Arte C Dados 2.3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="titulo-modulo">
        Módulos do Curso
    </div>
</article>
{%endblock%}
