{% extends "index.html" %}
{% block conteudo %}
        <article>
            <div style="position: relative; margin-top: 100;">
                <!-- Fundo embaixo -->
                <div class="fundo-curso"></div>
                <!-- Carrossel sobre o fundo -->
                <div class="container-curso" style="padding-top: 100px; padding-right: 100px; position: relative; z-index: 2;">
                    <div style="color: white; max-width: 900px; text-align: left; padding-left: 100px;">
                        <h1 style="font-size: 2.5rem; font-weight: bold;">Desenvolvedor Full Stack: Da Lógica ao Projeto Real</h1>
                        <p style="font-size: 1.1rem; margin-top: 10px;">
                            Tá pronto pra transformar seu futuro na tecnologia?Com o Curso Full Stack da Snake Academy, você vai do zero absoluto até o deploy do seu primeiro sistema completo.Aprenda lógica de programação, HTML, CSS, JavaScript, Python, bancos de dados e frameworks modernos em aulas práticas e diretas ao ponto.Ideal pra quem quer entrar com tudo no mercado de TI e se destacar.
                        </p>
                    </div>
                    <div class="carde-curso-preco">
                    oi
                </div>
                </div>
            </div>
        </article>
{%endblock%}
