{% extends "index.html" %}
{% block conteudo %}
<article>
    <div class="fundo-curso">
    </div>
    <div class="caracteristicas-curso">
        <div class="detalhes-curso">
            <div class="titulo-curso">
                Titulo do curso
            </div>
            <div class="descricao-curso">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, blanditiis quis? Magnam numquam a necessitatibus eveniet dicta molestias porro quasi. Vel illo maxime doloribus quis iste? Omnis iure qui quasi. Odio assumenda blanditiis repellat. Repellat autem fugiat consequatur dicta dolor, ex explicabo cupiditate vero enim quos, corrupti delectus ipsam libero.
            </div>
        </div>
        <div class="carde-curso-detalhes">
            <div class="detalhes-imagem-curso-container">
                <img class="detalhes-imagem-curso" src="/static/img/Nossos Cursos/ciencia de dados/Arte C Dados 2.1.jpg" alt="quatro">
                <div class="linha-detalhes-imagem-curso">
                </div>
            </div>
        </div>
    </div>
</article>
{%endblock%}
