{% extends "index.html" %}
{% block conteudo %}
        <article class="Oswald">
            <div class="mt-5 mb-5">
                <div id="carouselExampleControls" class="mb-5 carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {%for banner in banners%}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="/static/img/carrossel/{{banner.id}}.svg" class="d-block w-100" alt="carrosel">
                        </div>
                    {% endfor %}
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleControls"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="container">
                <h2 class="titulo-home">
                    <b>Comece sua jornada!</b>
                </h2>
                <p class="texto-home">
                    O seu mais novo local de aprendizado do TI! Descubra o mundo da tecnologia com conteúdos acessíveis,
                aulas dinâmicas e temas como ciência de dados, redes, desenvolvimento web e inteligência artificial —
                tudo no seu ritmo e do seu jeito. Oferecemos capacitação especializada com foco em tecnologias
                emergentes, metodologias ágeis e práticas de mercado.
                </p>
            </div>
            <br>
            <div class="container">
                <h2 class="titulo-home">
                    <b>Nossos cursos</b>
                </h2>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center mb-4">
                        <div
                            class="btn tipos-cursos w-100 text-center"
                            data-bs-toggle="collapse"
                            href="#collapseCD"
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseCD"
                            data-bs-parent="#group1"
                        >
                            Ciência dos dados
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center mb-4">
                        <div
                            class="btn tipos-cursos w-100 text-center"
                            data-bs-toggle="collapse"
                            href="#collapseGE"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapseGE"
                            data-bs-parent="#group1"
                        >
                            Gestão de redes
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center mb-4">
                        <div
                            class="btn tipos-cursos w-100 text-center"
                            data-bs-toggle="collapse"
                            href="#collapseDW"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapseDW"
                            data-bs-parent="#group1"
                        >
                            Desenvolvimento web
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center mb-4">
                        <div
                            class="btn tipos-cursos w-100 text-center"
                            data-bs-toggle="collapse"
                            href="#collapseIA"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapseIA"
                            data-bs-parent="#group1"
                        >
                            Inteligência artificial
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 mb-3 container" id="group1">
                <div class="collapse show" id="collapseCD" data-bs-parent="#group1">
                    <div class="row">
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/ciencia de dados/ciencia_de_dados.jpeg" class="imagem-curso" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Curso de ciência de dados</p>
                                <p class="carde-autor">Jhonatan Oliveira Lima Ooliveira dos Santos</p>
                                <p class="carde-avaliacao">★★★★☆4,5 <p class="carde-quantidade-avaliacoes">(1256)</p> </p>
                                <p class="carde-preco">R$59.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/ciencia de dados/ciencia_de_dados2.png" class="imagem-curso" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Introdução à Ciência de Dados</p>
                                <p class="carde-autor">Mariana Silva</p>
                                <p class="carde-avaliacao">★★★★☆ 4,8 <p class="carde-quantidade-avaliacoes">(987)</p> </p>
                                <p class="carde-preco">R$49.99</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/ciencia de dados/ciencia_de_dados3.jpg" class="imagem-curso" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Ciência de Dados Avançada</p>
                                <p class="carde-autor">Carlos Pereira</p>
                                <p class="carde-avaliacao">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(543)</p> </p>
                                <p class="carde-preco">R$149.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/ciencia de dados/ciencia_dados4.jpg" class="imagem-curso" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Machine Learning Aplicado</p>
                                <p class="carde-autor">Fernanda Costa</p>
                                <p class="carde-avaliacao">★★★★☆ 4,6 <p class="carde-quantidade-avaliacoes">(1204)</p></p>
                                <p class="carde-preco">R$80.00</p>
                            </div>
                        </div>

                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/ciencia de dados/ciencia_de_dados.jpeg" class="imagem-curso" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Curso de ciência de dados</p>
                                <p class="carde-autor">Jhonatan Oliveira Lima Ooliveira dos Santos</p>
                                <p class="carde-avaliacao">★★★★☆4,5 <p class="carde-quantidade-avaliacoes">(1256)</p> </p>
                                <p class="carde-preco">R$59.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/ciencia de dados/ciencia_de_dados2.png" class="imagem-curso" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Introdução à Ciência de Dados</p>
                                <p class="carde-autor">Mariana Silva</p>
                                <p class="carde-avaliacao">★★★★☆ 4,8 <p class="carde-quantidade-avaliacoes">(987)</p> </p>
                                <p class="carde-preco">R$49.99</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/ciencia de dados/ciencia_de_dados3.jpg" class="imagem-curso" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Ciência de Dados Avançada</p>
                                <p class="carde-autor">Carlos Pereira</p>
                                <p class="carde-avaliacao">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(543)</p> </p>
                                <p class="carde-preco">R$149.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/ciencia de dados/ciencia_dados4.jpg" class="imagem-curso" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Machine Learning Aplicado</p>
                                <p class="carde-autor">Fernanda Costa</p>
                                <p class="carde-avaliacao">★★★★☆ 4,6 <p class="carde-quantidade-avaliacoes">(1204)</p></p>
                                <p class="carde-preco">R$80.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseGE" data-bs-parent="#group1">
                    <div class="row">
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/gestao de redes/gestao_de_redes.png" class="imagem-curso" alt="Gestão de Redes" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Big Data e Análise</p>
                                <p class="carde-autor">Rafael Santos</p>
                                <p class="carde-avaliacao">★★★☆☆ 3,9 <p class="carde-quantidade-avaliacoes">(876)</p> </p>
                                <p class="carde-preco">R$29.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/gestao de redes/gestao_de_redes2.png" class="imagem-curso" alt="Gestão de Redes" >
                            </a>
                           <div class="carde-descricao">
                                <p class="carde-texto-titulo">Fundamentos de Redes</p>
                                <p class="carde-autor">Lucas Almeida</p>
                                <p class="carde-avaliacao">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(652)</p> </p>
                                <p class="carde-preco">R$179.99</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/gestao de redes/gestao_de_redes3.png" class="imagem-curso" alt="Gestão de Redes" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Segurança em Redes</p>
                                <p class="carde-autor">Patrícia Oliveira</p>
                                <p class="carde-avaliacao">★★★★☆ 4,7 <p class="carde-quantidade-avaliacoes">(812)</p> </p>
                                <p class="carde-preco">R$69.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/gestao de redes/gestao_redes4.png" class="imagem-curso" alt="Gestão de Redes" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Administração de Redes</p>
                                <p class="carde-autor">João Martins</p>
                                <p class="carde-avaliacao">★★★★☆ 4,4 <p class="carde-quantidade-avaliacoes">(430)</p> </p>
                                <p class="carde-preco">R$49.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseGE" data-bs-parent="#group1">
                    <div class="row">
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/gestao de redes/gestao_de_redes.png" class="imagem-curso" alt="Gestão de Redes" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Big Data e Análise</p>
                                <p class="carde-autor">Rafael Santos</p>
                                <p class="carde-avaliacao">★★★☆☆ 3,9 <p class="carde-quantidade-avaliacoes">(876)</p> </p>
                                <p class="carde-preco">R$29.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/gestao de redes/gestao_de_redes2.png" class="imagem-curso" alt="Gestão de Redes" >
                            </a>
                           <div class="carde-descricao">
                                <p class="carde-texto-titulo">Fundamentos de Redes</p>
                                <p class="carde-autor">Lucas Almeida</p>
                                <p class="carde-avaliacao">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(652)</p> </p>
                                <p class="carde-preco">R$179.99</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/gestao de redes/gestao_de_redes3.png" class="imagem-curso" alt="Gestão de Redes" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Segurança em Redes</p>
                                <p class="carde-autor">Patrícia Oliveira</p>
                                <p class="carde-avaliacao">★★★★☆ 4,7 <p class="carde-quantidade-avaliacoes">(812)</p> </p>
                                <p class="carde-preco">R$69.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/gestao de redes/gestao_redes4.png" class="imagem-curso" alt="Gestão de Redes" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Administração de Redes</p>
                                <p class="carde-autor">João Martins</p>
                                <p class="carde-avaliacao">★★★★☆ 4,4 <p class="carde-quantidade-avaliacoes">(430)</p> </p>
                                <p class="carde-preco">R$49.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseDW" data-bs-parent="#group1">
                    <div class="row">
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/desenvolvimento web/desenvolvimento_web.png" class="imagem-curso" alt="Desenvolvimento Web" >
                            </a>
                             <div class="carde-descricao">
                                <p class="carde-texto-titulo">Redes sem Fio</p>
                                <p class="carde-autor">Ana Paula</p>
                                <p class="carde-avaliacao">★★★☆☆ 3,8 <p class="carde-quantidade-avaliacoes">(299)</p> </p>
                                <p class="carde-preco">R$60.00</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/desenvolvimento web/desenvolvimento_web2.png" class="imagem-curso" alt="Desenvolvimento Web" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">HTML e CSS para Iniciantes</p>
                                <p class="carde-autor">Beatriz Rocha</p>
                                <p class="carde-avaliacao">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(1543)</p> </p>
                                <p class="carde-preco">R$14.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/desenvolvimento web/desenvolvimento_web3.png" class="imagem-curso" alt="Desenvolvimento Web" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">JavaScript Essencial</p>
                                <p class="carde-autor">Gabriel Souza</p>
                                <p class="carde-avaliacao">★★★★☆ 4,5 <p class="carde-quantidade-avaliacoes">(1320)</p> </p>
                                <p class="carde-preco">R$85.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/desenvolvimento web/desenvolvimento_web4.jpg" class="imagem-curso" alt="Desenvolvimento Web" >
                            </a>
                           <div class="carde-descricao">
                                <p class="carde-texto-titulo">Frameworks Front-End</p>
                                <p class="carde-autor">Rodrigo Lima</p>
                                <p class="carde-avaliacao">★★★★☆ 4,3 <p class="carde-quantidade-avaliacoes">(1122)</p> </p>
                                <p class="carde-preco">R$62.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseDW" data-bs-parent="#group1">
                    <div class="row">
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/desenvolvimento web/desenvolvimento_web.png" class="imagem-curso" alt="Desenvolvimento Web" >
                            </a>
                             <div class="carde-descricao">
                                <p class="carde-texto-titulo">Redes sem Fio</p>
                                <p class="carde-autor">Ana Paula</p>
                                <p class="carde-avaliacao">★★★☆☆ 3,8 <p class="carde-quantidade-avaliacoes">(299)</p> </p>
                                <p class="carde-preco">R$60.00</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/desenvolvimento web/desenvolvimento_web2.png" class="imagem-curso" alt="Desenvolvimento Web" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">HTML e CSS para Iniciantes</p>
                                <p class="carde-autor">Beatriz Rocha</p>
                                <p class="carde-avaliacao">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(1543)</p> </p>
                                <p class="carde-preco">R$14.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/desenvolvimento web/desenvolvimento_web3.png" class="imagem-curso" alt="Desenvolvimento Web" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">JavaScript Essencial</p>
                                <p class="carde-autor">Gabriel Souza</p>
                                <p class="carde-avaliacao">★★★★☆ 4,5 <p class="carde-quantidade-avaliacoes">(1320)</p> </p>
                                <p class="carde-preco">R$85.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/desenvolvimento web/desenvolvimento_web4.jpg" class="imagem-curso" alt="Desenvolvimento Web" >
                            </a>
                           <div class="carde-descricao">
                                <p class="carde-texto-titulo">Frameworks Front-End</p>
                                <p class="carde-autor">Rodrigo Lima</p>
                                <p class="carde-avaliacao">★★★★☆ 4,3 <p class="carde-quantidade-avaliacoes">(1122)</p> </p>
                                <p class="carde-preco">R$62.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseIA" data-bs-parent="#group1">
                    <div class="row">
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/Inteligencia artificial/ia.jpg" class="imagem-curso" alt="Inteligência Artificial" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Back-End com Node.js</p>
                                <p class="carde-autor">Juliana Fernandes</p>
                                <p class="carde-avaliacao">★★★★☆ 4,6 <p class="carde-quantidade-avaliacoes">(1405)</p> </p>
                                <p class="carde-preco">R$54.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/Inteligencia artificial/ia2.jpeg" class="imagem-curso" alt="Inteligência Artificial" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Introdução à Inteligência Artificial</p>
                                <p class="carde-autor">Pedro Gomes</p>
                                <p class="carde-avaliacao">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(1002)</p> </p>
                                <p class="carde-preco">R$67.99</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/Inteligencia artificial/ia3.jpg" class="imagem-curso" alt="Inteligência Artificial" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Redes Neurais Profundas</p>
                                <p class="carde-autor">Camila Torres</p>
                                <p class="carde-avaliacao">★★★★☆ 4,7 <p class="carde-quantidade-avaliacoes">(890)</p> </p>
                                <p class="carde-preco">R$80.50</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/Inteligencia artificial/ia4.png" class="imagem-curso" alt="Inteligência Artificial" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Processamento de Linguagem Natural</p>
                                <p class="carde-autor">Thiago Barbosa</p>
                                <p class="carde-avaliacao">★★★★☆ 4,5 <p class="carde-quantidade-avaliacoes">(765)</p> </p>
                                <p class="carde-preco">R$79.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseIA" data-bs-parent="#group1">
                    <div class="row">
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/Inteligencia artificial/ia.jpg" class="imagem-curso" alt="Inteligência Artificial" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Back-End com Node.js</p>
                                <p class="carde-autor">Juliana Fernandes</p>
                                <p class="carde-avaliacao">★★★★☆ 4,6 <p class="carde-quantidade-avaliacoes">(1405)</p> </p>
                                <p class="carde-preco">R$54.90</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/Inteligencia artificial/ia2.jpeg" class="imagem-curso" alt="Inteligência Artificial" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Introdução à Inteligência Artificial</p>
                                <p class="carde-autor">Pedro Gomes</p>
                                <p class="carde-avaliacao">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(1002)</p> </p>
                                <p class="carde-preco">R$67.99</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/Inteligencia artificial/ia3.jpg" class="imagem-curso" alt="Inteligência Artificial" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Redes Neurais Profundas</p>
                                <p class="carde-autor">Camila Torres</p>
                                <p class="carde-avaliacao">★★★★☆ 4,7 <p class="carde-quantidade-avaliacoes">(890)</p> </p>
                                <p class="carde-preco">R$80.50</p>
                            </div>
                        </div>
                        <div class="carde-cursos col-3 m-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/Nossos Cursos/Inteligencia artificial/ia4.png" class="imagem-curso" alt="Inteligência Artificial" >
                            </a>
                            <div class="carde-descricao">
                                <p class="carde-texto-titulo">Processamento de Linguagem Natural</p>
                                <p class="carde-autor">Thiago Barbosa</p>
                                <p class="carde-avaliacao">★★★★☆ 4,5 <p class="carde-quantidade-avaliacoes">(765)</p> </p>
                                <p class="carde-preco">R$79.99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <h2>
                    <b>Em Alta</b>
                </h2>
            </div>
            <div class="carrossel-agarrador container">
                <button class="botao-esquerda esquerda">&#10094;</button>
                <div class="carrossel-itens">
                    <div class="carde-favoritos col-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/favoritos/Curso-de-Copy.png" class="imagem-curso-favoritos" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao-favoritos">
                                <p class="carde-texto-titulo-favoritos">Copywriting para Negócios</p>
                                <p class="carde-autor-favoritos">Marcos Andrade</p>
                                <p class="carde-avaliacao-favoritos">★★★★☆ 4,7 <p class="carde-quantidade-avaliacoes">(765)</p></p>
                                <p class="carde-preco-favoritos">R$39.90</p>
                            </div>
                    </div>
                    <div class="carde-favoritos col-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/favoritos/Curso-de-IA.png" class="imagem-curso-favoritos" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao-favoritos">
                                <p class="carde-texto-titulo-favoritos">Inteligência Artificial Aplicada</p>
                                <p class="carde-autor-favoritos">Renata Moreira</p>
                                <p class="carde-avaliacao-favoritos">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(845)</p></p>
                                <p class="carde-preco-favoritos">R$59.90</p>
                            </div>
                    </div>
                    <div class="carde-favoritos col-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/favoritos/curso-design.png" class="imagem-curso-favoritos" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao-favoritos">
                                <p class="carde-texto-titulo-favoritos">Design Gráfico Moderno</p>
                                <p class="carde-autor-favoritos">Eduardo Ribeiro</p>
                                <p class="carde-avaliacao-favoritos">★★★★☆ 4,6 <p class="carde-quantidade-avaliacoes">(932)</p></p>
                                <p class="carde-preco-favoritos">R$44.90</p>
                            </div>
                    </div>
                    <div class="carde-favoritos col-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/favoritos/curso-html.jpg" class="imagem-curso-favoritos" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao-favoritos">
                                <p class="carde-texto-titulo-favoritos">HTML Avançado</p>
                                <p class="carde-autor-favoritos">Sofia Martins</p>
                                <p class="carde-avaliacao-favoritos">★★★★☆ 4,4 <p class="carde-quantidade-avaliacoes">(654)</p></p>
                                <p class="carde-preco-favoritos">R$34.90</p>
                            </div>
                    </div>
                    <div class="carde-favoritos col-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/favoritos/curso-python.jpg" class="imagem-curso-favoritos" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao-favoritos">
                                <p class="carde-texto-titulo-favoritos">Python para Data Science</p>
                                <p class="carde-autor-favoritos">Felipe Souza</p>
                                <p class="carde-avaliacao-favoritos">★★★★★ 5,0 <p class="carde-quantidade-avaliacoes">(1540)</p></p>
                                <p class="carde-preco-favoritos">R$69.90</p>
                            </div>
                    </div>
                    <div class="carde-favoritos col-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/favoritos/Banco-de-Dados-curso-SQL-.png" class="imagem-curso-favoritos" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao-favoritos">
                                <p class="carde-texto-titulo-favoritos">Banco de Dados SQL</p>
                                <p class="carde-autor-favoritos">Vanessa Costa</p>
                                <p class="carde-avaliacao-favoritos">★★★★☆ 4,5 <p class="carde-quantidade-avaliacoes">(743)</p></p>
                                <p class="carde-preco-favoritos">R$49.90</p>
                            </div>
                    </div>
                    <div class="carde-favoritos col-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/favoritos/excel curso.jpg" class="imagem-curso-favoritos" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao-favoritos">
                                <p class="carde-texto-titulo-favoritos">Excel Avançado</p>
                                <p class="carde-autor-favoritos">Daniel Oliveira</p>
                                <p class="carde-avaliacao-favoritos">★★★★☆ 4,3 <p class="carde-quantidade-avaliacoes">(1204)</p></p>
                                <p class="carde-preco-favoritos">R$54.90</p>
                            </div>
                    </div>
                    <div class="carde-favoritos col-3">
                            <a href="/detalhes_curso">
                                <img src="/static/img/favoritos/css-curso.jpg" class="imagem-curso-favoritos" alt="Ciência dos Dados" >
                            </a>
                            <div class="carde-descricao-favoritos">
                                <p class="carde-texto-titulo-favoritos">CSS Responsivo</p>
                                <p class="carde-autor-favoritos">Patrícia Mendes</p>
                                <p class="carde-avaliacao-favoritos">★★★★☆ 4,6 <p class="carde-quantidade-avaliacoes">(980)</p></p>
                                <p class="carde-preco-favoritos">R$42.90</p>
                            </div>

                    </div>
                <button class="botao-direita direita">&#10095;</button>
                </div>
            </div>
            <div class="div-aprendizado-direcionado">
                <div class="container">
                    <h2 class="titulo-aprendizado-direcionado mb-3">
                        Aprendizado direcionado para seus objetivos
                    </h2>
                </div>
                <div class="div-aprendizado-direcionado container">
                    <div class="objetivos-container">
                        <div class="objetivos-lista">
                            <div
                                class="btn objetivos-aprendizado"
                                data-bs-toggle="collapse"
                                href="#painel1"
                                role="button"
                                aria-expanded="true"
                                aria-controls="painel1"
                            >
                                Preparação para o mercado de trabalho
                            </div>
                            <div
                                class="btn objetivos-aprendizado"
                                data-bs-toggle="collapse"
                                href="#painel2"
                                role="button"
                                aria-expanded="false"
                                aria-controls="painel2"
                            >
                                Para quem busca a qualificação
                            </div>
                            <div
                                class="btn objetivos-aprendizado"
                                data-bs-toggle="collapse"
                                href="#painel3"
                                role="button"
                                aria-expanded="false"
                                aria-controls="painel3"
                            >
                                Análise e Estatísticas
                            </div>
                            <div
                                class="btn objetivos-aprendizado"
                                data-bs-toggle="collapse"
                                href="#painel4"
                                role="button"
                                aria-expanded="false"
                                aria-controls="painel4"
                            >
                                Preparação para o futuro
                            </div>
                        </div>

                        <div class="painel-lateral">
                            <div id="painel1" class="collapse" data-bs-parent=".painel-lateral">
                                <div class="conteudo-painel">
                                    <img src="/static/img/painel/Mercado de Trabalho teste.png" alt="Mercado de Trabalho" style="width:100%; border-radius:8px;">
                                </div>
                            </div>
                            <div id="painel2" class="collapse" data-bs-parent=".painel-lateral">
                                <div class="conteudo-painel">Conteúdo do segundo objetivo
                                    <img src="/static/img/painel/qualificação teste.png" alt="Qualificação" style="width:100%; border-radius:8px;">
                                </div>
                            </div>
                            <div id="painel3" class="collapse" data-bs-parent=".painel-lateral">
                                <div class="conteudo-painel">Conteúdo do terceiro objetivo
                                    <img src="/static/img/painel/analises e estatisticas teste.png" alt="Analise" style="width:100%; border-radius:8px;">
                                </div>
                            </div>
                            <div id="painel4" class="collapse" data-bs-parent=".painel-lateral">
                                <div class="conteudo-painel">Conteúdo do quarto objetivo
                                    <img src="/static/img/painel/profissional-do-futuro teste.png" alt="Futuro" style="width:100%; border-radius:8px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
            <h2 class="titulo-home"><b>Histórias de quem cresceu com a Snake Academy</b></h2>
            </div>

            <section class="testimonials container">
            <div class="testimonial-card">
                <p>“A Snake Academy me ajudou a conseguir meu primeiro emprego como desenvolvedor júnior em menos de 6 meses.”</p>
                <div class="testimonial-profile">
                <img src="/static/img/comentarios/Lucas Andrade.webp" alt="Foto aluno">
                <span>Lucas Andrade<br><small>Dev Júnior</small></span>
                </div>
                <a href="#">Cursos de Desenvolvimento Web →</a>
            </div>

            <div class="testimonial-card">
                <p>“Com os cursos de Ciência de Dados, aprendi do zero até conseguir minha certificação e hoje trabalho em uma fintech.”</p>
                <div class="testimonial-profile">
                <img src="/static/img/comentarios/Mariana Costa.jpg" alt="Foto aluna">
                <span>Mariana Costa<br><small>Analista de Dados</small></span>
                </div>
                <a href="#">Cursos de Ciência de Dados →</a>
            </div>

            <div class="testimonial-card">
                <p>“Sempre quis aprender Inteligência Artificial. A trilha da Snake Academy me deu base sólida e apliquei em projetos reais.”</p>
                <div class="testimonial-profile">
                <img src="/static/img/comentarios/Rafael Oliveira.png" alt="Foto aluno">
                <span>Rafael Oliveira<br><small>Eng. de IA</small></span>
                </div>
                <a href="#">Cursos de Inteligência Artificial →</a>
            </div>

            <div class="testimonial-card">
                <p>“Além do conteúdo top, a Snake Academy me mostrou que é possível aprender e empreender. Já lancei meu primeiro app!”</p>
                <div class="testimonial-profile">
                <img src="/static/img/comentarios/Ana Souza.webp" alt="Foto aluna">
                <span>Ana Souza<br><small>Dev Mobile</small></span>
                </div>
                <a href="#">Cursos de Mobile →</a>
            </div>
            </section>          
        </article>
{% endblock %}