{% extends "index.html" %}
{% block conteudo %}

    <div class="main-content container">
        <div class="row align-items-center">
            <!-- Illustration -->
            <div class="col-md-6 text-center illustration mb-4 mb-md-0">
                <img src="/static/img/ilustracao_snake.png" alt="Ilustração Snake">
            </div>

            <!-- Formulário -->
            <div class="col-md-6">
                <h3 class="mb-4">Login</h3>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email ou nome de usuário">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Senha">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control" placeholder="Confirme sua senha">
                    </div>
                    <button type="submit" class="btn botao-roxo-lc w-100">Entrar</button>
                </form>
                <div class="text-center mt-4">
                    <p>Ou entre com:</p>
                    <div class="social-icons d-flex justify-content-center">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook">
                        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="Google">
                        <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="Microsoft">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}