{% extends "index_publico.html" %}
{% block conteudo %}
<article>
    <div class="login-container">
        <div class="login-esquerda">
            <div class="imagem-login">
                <img src="/static/img/telas_de_fundo/snake_login_sem_fundo.svg" alt="" style="width: 400px; height: auto;">
            </div>
        </div>
        <div class="login-direita">
            <div class="container-login">
                <h3 class="mb-4 text-start">Login</h3>
                <form action="/login" method="post">
                    {% if redirect %}
                        <input type="hidden" name="redirect" value="{{ redirect }}">
                    {% endif %}
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email ou nome de usuário" name="email" id="email">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control" placeholder="Senha" name="senha" id="senha">
                        <div id="acessar-recuperar-senha-login"  class="mt-3 text-center"> <a href="/validacao_email">Esqueci minha senha</a> </div>
                    </div>
                    <button type="submit" class="btn botao-roxo-lc w-100">Entrar</button>
                    {% if mensagem %}
                    <div class="alert alert-danger mt-3">{{ mensagem }}</div>
                    {% endif %}
                </form>

                <div class="mt-4 text-center">
                    <p>Ou entre com:</p>
                    <div class="social-icons d-flex justify-content-center gap-3">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" width="32">
                        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="Google" width="32">
                        <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="Microsoft" width="32">
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
