.icone-admin{
    color: rgb(0, 0, 0);
    margin-right: 50px;
    text-align: center;
    font-size: 40px;   
}
.icone-admin:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.texto-icone{
    font-size: 14px;
}

.modificar-categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 60px;
}

.modificar-categorias-btn{
    margin: 10px;
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #522197;
    width: 280px;;
}

.modificar-categorias-btn i{
    font-size: 80px;
    color: rgb(255, 255, 255);
}
.modificar-categorias-btn p{
    font-size: 17px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.modificar-categorias-btn:hover{
    background-color: #580dc2;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: white;
}