.container-professor {
  max-width: 50vw;
}

.titulo-container-professor {
  font-size: 32px;
  margin-bottom: 20px;
}

.nome-professor{
    font-size: 24px;
}


.container-imagem-professor {
  float: left;              /* faz a imagem flutuar */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px 20px 0;    /* espaço entre imagem e texto */
  shape-outside: circle();  /* define área circular */
  clip-path: circle();      /* recorta visualmente */
}

.imagem-professor {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-descricao-professor {
  text-align: justify;
}

.quantidade-matriculas {
    font-size: 18px;
    color: #2e2e2e;
    margin-top: 5px;
}
