.btn_filtro {
    background-color: #9600c4; /* Cor cinza */
    color: white; /* Cor do texto branca */
}

.btnlimpar {
    background-color: #00ff95; /* Cor cinza */
    color: white; /* Cor do texto branca */
}