body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.topo {
    background-color: #5C22AD;
    height: 20px;
    width: 100%;
}

.bg-navbar-branco {
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.barra-pesquisa {
    border: 1px solid #ccc !important;
    border-radius: 20px 0 0 20px !important;
    padding: 8px 15px !important;
    height: auto !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

.btn-lupa {
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    border-radius: 0 20px 20px 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-lupa:hover {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.botao-login {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.login {
    background-color: #FFFFFF;
    color: #3EC696;
    border-radius: 20px;
    border: 1px solid #3EC696;
    font-weight: bold;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.login:hover {
    background-color: #3EC696;
    color: #FFFFFF;
}

.cadastro {
    background-color: #5C22AD;
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #5C22AD;
    font-weight: bold;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.cadastro:hover {
    background-color: #3a1572;
}

.navbar-brand img {
    max-height: 80px;
}

.linha {
    display: flex;
    margin-left: 90px;
}

.tipos-cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.tipos-cursos.ativo {
    text-decoration: underline;
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}

.rodape {
    background-color: #19171A;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

#carouselExampleControls {
    margin: 0;
    padding: 0;
}

