body {
    font-family: Arial, Helvetica, sans-serif;
}

.topo {
    background-color: #5C22AD;
    height: 20px;
    width: 100%;
}

.bg-navbar-branco {
    background-color: #FFFFFF;
    box-shadow: 0 8px 8px 8px rgb(0, 0, 0, 0);
}

.barra-pesquisa{
    border: solid 1px #525252;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    align-self: center;
    width: 900px;
    height: 40px;
    margin-left: 70px;
}

.btn-source {
    background-color: #FFFFFF;
    border: none;
    height: auto;
    margin-right: 250px
}

.botao-login{
    background-color: #FFFFFF;
    border: none;
}
.login{
    background-color: #FFFFFF;
    color: #3EC696;
    border-radius: 10px;
    border: solid 1px #3EC696;
    font-weight: bold;
    transition: #3ec696 0.3s, #34a37c 0.3s;
    width: 100px;
    height: 40px;
    padding: 5px;
}
.cadastro{
    background-color: #5C22AD;
    color: #ffffff;
    border-radius: 10px;
    border: solid 1px #5C22AD;
    font-weight: bold;
    transition: #5C22AD 0.3s, #30135a 0.3s;
    width: 120px;
    height: 40px;
    padding: 5px;
    margin-right: 200px;
}

.linha{
    display: flex;
    margin-left: 90px;
}

.tipos-cursos{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.tipos-cursos.ativo{     
    text-decoration: underline;
    font-weight: bold;
}

.rodape{
    background-color: #19171A;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}


