{% extends "index.html" %}
{%block conteudo%}
<article>
    <div class="container">
        <h1 class="titulo-home text-center"><b>Área do Administrador</b></h1>
        <p class="texto-home text-center">Bem-vindo, {{ usuario.nome }}! Essa é a área adminstrativa do sistema, exclusiva para os administradores dessa aplicação!</p>
    </div>
    <div class="container">
        <h1 class="titulo-home"><b>Gerenciar Banners</b></h1>
        <p class="texto-home">Aqui você pode gerenciar os banners que aparecem na página home do site.</p>
        <div class="mt-3 mb-5">
            <div id="carouselExampleControls" class="mb-5 carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% if banners %}
                    {% for banner in banners %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <a href="/admin/banners">
                            {% if banner.imagem and banner.status == true %}
                            <img src="{{ banner.imagem }}" class="d-block w-100" alt="banner {{ banner.id }}">
                            {% else %}
                            <img src="/static/img/banner_exemplo.png" class="d-block w-100" alt="banner {{ banner.id }}">
                            {% endif %}
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <a href="/admin/banners" class="carousel-item active">
                        <img src="/static/img/banner_exemplo.png" class="d-block w-100" alt="banner exemplo">
                    </a>
                    {% endif %}
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="titulo-home"><b>Gerenciar Categorias e Tópicos</b></h1>
        <p class="texto-home">Aqui você pode gerenciar os Categorias e tópicos dos cursos oferecidos no site.</p>
        <div class="modificar-categorias">
            <a href="/admin/categorias">
                <div class="modificar-categorias-btn">
                    <i class="bi bi-book-half"></i>
                    <p class="text-home">Gerenciar Categorias</p>
                </div>
            </a>
            <a href="/admin/topicos">
                <div class="modificar-categorias-btn">
                    <i class="bi bi-bookmark"></i>
                    <p class="text-home">Gerenciar Tópicos</p>
                </div>
            </a>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <h1 class="titulo-home"><b>Gerenciar Usuários e Cursos</b></h1>
        <p class="texto-home">Aqui você pode gerenciar os usuários cadastrados no site.</p>
        <div class="modificar-categorias">
            <a href="/admin/usuarios">
                <div class="modificar-categorias-btn">
                    <i class="bi bi-people"></i>
                    <p class="text-home">Gerenciar Usuários</p>
                </div>
            </a>
            <a href="/admin/cursos">
                <div class="modificar-categorias-btn">
                    <i class="bi bi-journal-text"></i>
                    <p class="text-home">Gerenciar Cursos</p>
                </div>
            </a>
        </div>

    </div>
</article>
{%endblock%}