{% extends "index.html" %}
{%block conteudo%}
<article>
    <div class="container mt-5">
        <h1 class="titulo-home">
            <a href="/admin/usuarios">
                <b>Detalhes do Usuário</b>
            </h1>
            <div class="detalhes-usuario" style="flex-direction: column;">
                <div style="display: flex; flex-direction: row;">
                    <div class="container-foto-detalhes-usuario ms-5">
                        <img src="{{ detalhes_usuario.foto }}" alt="foto do usuário" class="foto-detalhes-usuario">
                    </div>
                    <div class=" ms-5">
                        <p>
                            <strong>ID:</strong> {{ detalhes_usuario.id }}
                        </p>
                        <p>
                            <strong>Nome:</strong> {{ detalhes_usuario.nome }}
                        </p>
                        <p>
                            <strong>Email:</strong> {{ detalhes_usuario.email }}
                        </p>
                        <p>
                            <strong>Telefone:</strong> {{ detalhes_usuario.telefone }}
                        </p>
                        <p>
                            <strong>Data de Nascimento:</strong> {{ detalhes_usuario.dataNascimento }}
                        </p>
                        <p>
                            <strong>Perfil:</strong> {{ detalhes_usuario.perfil|capitalize }}
                        </p>
                        <p>
                            <strong>Cursos:</strong> {{ detalhes_usuario.cursos|length }}
                        </p>
                    </div>
                    {% if detalhes_usuario.perfil == "professor" %}
                    <div class=" ms-5">
                        <p>
                            <strong>Descrição do professor:</strong> {{ detalhes_usuario.descricao }}
                        </p>
                        <h3>Cursos Ministrados:</h3>
                        {% if detalhes_usuario.cursosPostados is not none %}
                        <ul>
                            {% for curso in detalhes_usuario.cursosPostados %}
                            <li>{{ curso }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Este professor não ministrou nenhum curso.</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div style="flex-direction: row; gap: 30px; margin-top: 20px;">
                    <div class="row">
                        <div class="col-1">
                            <a href="/admin/usuarios" class="botao-editar-usuario me-5">
                                <i class="bi bi-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-4 botao-editar-usuario notificar-usuario ms-5 me-5">
                                <i class="bi bi-bell"></i>
                        </div>
                        <form class="col-4 botao-editar-usuario excluir-usuario ms-5" method="post" action="/admin/usuarios/detalhes-usuario/{{ detalhes_usuario.id }}/excluir">
                            <button type="submit" class="botao-login" style="color: white;">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{%endblock%}
