{% extends "index.html" %}
{%block conteudo%}
<article>
    <div class="container mt-5">
        <h1 class="titulo-home">
            <a href="/admin/usuarios">
                <b>Detalhes do Usuário</b>
            </h1>
            <div class="detalhes-usuario" style="flex-direction: column;">
                <div style="display: flex; flex-direction: row;">
                    <div class="container-foto-detalhes-usuario ms-5">
                        <img src="{{ detalhes_usuario.foto }}" alt="foto do usuário" class="foto-detalhes-usuario">
                    </div>
                    <div class=" ms-5">
                        <p>
                            <strong>ID:</strong> {{ detalhes_usuario.id }}
                        </p>
                        <p>
                            <strong>Nome:</strong> {{ detalhes_usuario.nome }}
                        </p>
                        <p>
                            <strong>Email:</strong> {{ detalhes_usuario.email }}
                        </p>
                        <p>
                            <strong>Telefone:</strong> {{ detalhes_usuario.telefone }}
                        </p>
                        <p>
                            <strong>Data de Nascimento:</strong> {{ detalhes_usuario.dataNascimento }}
                        </p>
                        <p>
                            <strong>Perfil:</strong> {{ detalhes_usuario.perfil|capitalize }}
                        </p>
                        <p>
                            <strong>Cursos:</strong> {{ detalhes_usuario.cursos|length }}
                        </p>
                    </div>
                    {% if detalhes_usuario.perfil == "professor" %}
                    <div class=" ms-5">
                        <p>
                            <strong>Descrição do professor:</strong> {{ detalhes_usuario.descricao }}
                        </p>
                        <h3>Cursos Ministrados:</h3>
                        {% if detalhes_usuario.cursosPostados is not none %}
                        <ul>
                            {% for curso in detalhes_usuario.cursosPostados %}
                            <li>{{ curso }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Este professor não ministrou nenhum curso.</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div style="flex-direction: row; gap: 30px; margin-top: 20px;">
                    <div class="row">
                        <div class="col-1">
                            <a href="/admin/usuarios" class="botao-editar-usuario me-5">
                                <i class="bi bi-arrow-left"></i>
                            </a>
                        </div>
                        {% if detalhes_usuario.id != usuario.id %}
                        <div class="col-4 botao-editar-usuario notificar-usuario" style="margin-left: 60%;">
                                <i class="bi bi-bell"></i>
                        </div>
                            <button type="button" class="col-4 botao-editar-usuario excluir-usuario ms-5 botao-login" data-bs-toggle="modal" data-bs-target="#confirmModal">
                            <i class="bi bi-trash"></i>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja apagar este usuário?
            </div>
            <form class="modal-footer" method="post" action="/admin/usuarios/detalhes-usuario/{{ detalhes_usuario.id }}/excluir">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-danger" id="confirmDelete">Sim</button>
            </form>
            </div>
        </div>
    </div>
    </div>
</article>
{%endblock%}
